body {
  font-family: 'Open Sans', sans-serif;
  /*background-image: url("images/background_image.jpeg");*/
  background-size: cover;
  background-color: #E4F9F5;
}

a {
  text-decoration: none;
}

h1, h2 {
  color: red;
  font-family: 'Roboto', sans-serif;
}
